@import "./function.scss";
body {
  background: #ececec;
}

header {
  .logo {
    width: vw(300);
    img {
      width: 100%;
    }
    z-index: 10;
  }
  h1 {
    // display: inline-block;
    position: absolute;
    font-size: vw(36);
    width: 100%;
    top: vw(70);
    text-align: center;
  }
  .menu_box {
    width: 100%;
    text-align: center;
    background: #000;
    margin-bottom: 20px;
    a {
      text-decoration: none;
      font-size: 22px;
    }
    ul {
      display: inline-block;
      &.menu {
        li {
          float: left;
          list-style: none;
          font-size: vw(16); // background: #000;
          display: inline-block;
          color: #fff;
          padding: 5px 20px;
          letter-spacing: 3px;
          margin: 0 5px;
          a {
            color: #fff;
          }
        }
      }
      &.admin {
        position: absolute;
        top: 20px;
        right: 50px;
        li {
          float: left;
          &:nth-child(n+1) {
            margin-right: 10px;
          }
          font-size: 16px;
          a {
            color: #000;
            font-size: inherit;
          }
        }
      }
    }
    &::after {
      content: "";
      display: block;
      clear: both;
    }
  }
}

footer {
  padding: 15px 0;
  margin: 15px 0;
  text-align: center;
  border-top: solid 5px;
  ul {
    padding-bottom: 20px;
    display: inline-block;
    li {
      float: left;
      &:nth-child(n+1) {
        margin-right: 10px;
      }
      a {
        text-decoration: none;
        color: #000;
        font-size: 18px;
      }
    }
  }
}

.btn {
  text-decoration: none;
  color: #fff;
  border: 1px solid;
  background: black;
  display: inline-block;
  padding: 5px;
  letter-spacing: 5px;
  text-align: center;
  position: relative;
}