@using Microsoft.AspNet.Identity

@if (Session["id"] != null && !string.IsNullOrWhiteSpace(Session["id"].ToString()))
{
    @Html.AntiForgeryToken()

    <li>
        @*Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })*@
        <span class="user-name">Hello @Session["name"] ! </span>
    </li>
    <li>
        <a href="#" id="logout" class="logout-btn">登出</a>
    </li>
}
else
{
    <li>
        <a href="~/account/register" class="register-btn">註冊</a>
    </li>
    <li>
        <a href="~/account/login" class="login-btn">登入</a>
    </li>
}