@import "../../css/function.scss";
.product-list{
  padding: 0 5%;
  .product-item{
    position: relative;
    display: inline-block;
    .img{
      position: relative;
      width: 100%;
    }
    .title{
      background: rgba($color: #000, $alpha: 0.5);
      color: #fff;
      position: absolute;
      overflow: hidden;
      width: 98%;
      text-overflow: ellipsis;
      white-space: nowrap;
      padding: 2% 1%;
      top: 0;
      left: 0;
      font-size: 20px;
    }
    .price-content{
      position: relative;
      width: 100%;
      bottom: 0;
      left: 0;
      font-size: 16px;
      text-align: right;
      span{
        background: rgba($color: #fff, $alpha: 0.5);
        &.discount-price{
          margin-left: pxToPercent(10);
          color: red;
        }
      }
      &.discount{
        .uint-price{
          text-decoration: line-through;
        }
      }
    }
    @include pc-big-width{
      $num: 6;
      width: 15%;
      margin: 0 0 2% 2%;
      &:nth-child(#{$num}n+1){
        margin-left: 0;
      }
    }
    @include pc-width{
      $num: 4;
      width: 24%;
      margin: 0 0 1.33% 1.33%;
      &:nth-child(#{$num}n+1){
        margin-left: 0;
      }
    }
    @include pad-width{
      $num: 3;
      width: 32%;
      margin: 0 0 2% 2%;
      &:nth-child(#{$num}n+1){
        margin-left: 0;
      }
    }
    @include mobile-width{
      $num: 2;
      width: 49%;
      margin: 0 0 2% 2%;
      &:nth-child(#{$num}n+1){
        margin-left: 0;
      }
    }
  }
}