@import "../../css/function.scss";
.product-list{
  padding: 0 5%;
  .product-item{
    display: inline-block;
    .img{
      position: relative;
      width: 100%;
    }
    .title{
      position: absolute;
      top: pxToPercent(5);
      left: pxToPercent(5);
    }
    .price-content{
      position: absolute;
      bottom: pxToPercent(5);
      right: pxToPercent(5);
      font-size: 12px;
      span{
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        .discount-price{
          color: red;
        }
      }
      &.discount{
        .uint-price{
          text-decoration: line-through;
        }
      }
    }
    @include pc-width{
      $num: 5;
      width: 18%;
      margin: 0 0 2.5% 2.5%;
      &:nth-child(#{$num}n+1){
        margin-left: 0;
      }
    }
    @include pad-width{
      $num: 4;
      width: 23.125%;
      margin: 0 0 2.5% 2.5%;
      &:nth-child(#{$num}n+1){
        margin-left: 0;
      }
    }
    @include mobile-width{
      $num: 3;
      width: 31.667%;
      margin: 0 0 2.5% 2.5%;
      &:nth-child(#{$num}n+1){
        margin-left: 0;
      }
    }
  }
}